body{
font-family: "Montserrat", sans-serif;
}
a {
    color: inherit!important;
    text-decoration: none!important;
}
a:hover
{
     color:#00A0C6!important;
     text-decoration:none!important;
     cursor:pointer!important;
}
#title{
  background-color: black;
  color: #fff;
padding-bottom: 10%!important;
}
.myline{
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   line-height: 1.5;
   font-size: 3rem;
   text-align: justify;
}


.container-fluid{
   padding:3% 5%!important;
   padding-bottom: 7%!important;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.b{
  font-size: 1rem;
  text-align: justify;
  line-height: 35px;
}

p{
  color:#8f8f8f;
}
.ft{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.wd{
  width: 20vh;
  height: 20vh;
  margin-bottom: 10px;
  border:solid 20% black;
  border-radius: 50%;
  float:center;
}
.cam{
  width:25vh;
  height: 20vh;
  margin-bottom: 10px;
  border:solid 20% black;
  border-radius: 40%;
  float:center;
}
.title-image{
  width: 70%;
  position: absolute;
  right:30%;
  border: 3px solid #f4fc03;
  border-radius: 20px;

}
#features{
      padding:7% 18%;
      text-align: center;
      background-color:#fff;
      position: relative;

}
.feature-box{
  text-align: center;
}
#testimonials{

    text-align: center;
    background-color:black;
    color:#fff;
}
.tt{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.tt-img{
width: 10%;
border-radius: 100%;
}
#press{
  text-align: center;
  background-color:#ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}
.carousel-item{
      padding:7% 18%;
}
#pricing{
  padding:100px;
  text-align: center;;
}
#cta{
  text-align: center;
  background-color:black;
  padding: 4% 7%;
}
.find{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size:  3.5rem;
  color:#fff;
}
#footer{
  background-color: :#fff;
  text-align: center;
  padding:7% 15%;
}
.cpy{
    color: #8f8f8f;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform:rotate(0);
}
}
